@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ADDS AN LIGTH LITTLE GRADIENT SEPARATOR IN THE BOTTOM ON THE NAVBAR */
.nav-separator {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-image: linear-gradient(to right, #475569 0%, #c4ccff 30% 70%, #475569)
    0 0 100%;
}
