@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pattern {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #162086;
  opacity: 0.1;
  background-image: linear-gradient(135deg, #7697a0 25%, transparent 25%),
    linear-gradient(225deg, #7697a0 25%, transparent 25%),
    linear-gradient(45deg, #7697a0 25%, transparent 25%),
    linear-gradient(315deg, #7697a0 25%, #818181 25%);
  background-position: 13px 0, 13px 0, 0 0, 0 0;
  background-size: 26px 26px;
  background-repeat: repeat;
}

.pattern::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
